@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quicksand:wght@300..700&display=swap');

@tailwind base;

p {
    @apply font-quicksand;
}

@tailwind components;
@tailwind utilities;


.hljs {
    @apply !bg-border;
}

/* Swiper styling */
.swiper-pagination-bullet {
    width: auto;
    height: auto;
    border-radius: 0;
    background: transparent;
    opacity: .35;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    transition: all;
}