@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Swiper styling */
.swiper-pagination-bullet {
    width: auto;
    height: auto;
    border-radius: 0;
    background: transparent;
    opacity: .35;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    transition: all;
}